<!DOCTYPE html>

<head>
    <title>Art Sphere</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Upright:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>


<body>
    <div class="explore-background">
        <div class="explore-image">
            <div class="image-blur"></div>
            <img class="image-bg" src="<%= image %>">
            <img class="image-front" src="<%= image %>">
        </div>
        <div class="explore-text">
            <div class="text-title">
                <span class="title-date"><%= objectDate %></span>
                <span class="title-name"><%= name %></span>
            </div>
            <div class="text-details">
                <div class="explore creator frame">
                    <span class="explore creator title">Creator</span>
                    <% if (locals.artist) { %>
                        <span class="explore creator content"><%= artist %> | <%= artistNationality %></span>
                    <% } %>
                    <% if (!locals.artist) { %>
                        <span class="explore creator content">Unidentified</span>
                    <% } %>
                </div>
                <div class="explore medium frame">
                    <span class="explore medium title">Medium</span>
                    <span class="explore medium content"><%= objectMedium %></span>
                </div>
                <div class="explore department frame">
                    <span class="explore department title">Department</span>
                    <span class="explore department content"><%= department %></span>
                </div>
                <button id="more" onclick="window.location.href='<%= objectURL %>'">
                    More
                    <img src="images/explore-icon-more.svg" alt="arrow">
                </button>
            </div>
            <button id="one-more" onclick="window.location.href='/explore'">ONE MORE</button>
        </div>
    </div>
    <!-- <h1><%= id %></h1> -->

    <div class="footer2">
        <footer>Copyright © <%= new Date().getFullYear() %> ArtSphere by Zoe Xu | All Rights Reserved | Powered by The Metropolitan Museum of Art Collection API</footer>
    </div>
</body>

</html>